<div class="card">
  <div class="card-header">
    <h2>Edit Profile <%= resource_name.to_s.humanize %></h2>
  </div>
  <div class="card-body">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field form-group">
        <br />
        <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field form-group">
        <i><small>(leave blank if you don't want to change it)</small></i><br />
        <%= f.password_field :password, class:"form-control", placeholder:"new password",autocomplete: "new-password" %>
        <% if @minimum_password_length %>
        
          <small><em><%= @minimum_password_length %> characters minimum</em></small>
        <% end %>
      </div>

      <div class="field form-group">

        <%= f.password_field :password_confirmation, class:"form-control", placeholder:"confirm password", autocomplete: "new-password" %>
      </div>

      <div class="field form-group">
        <i><small>(we need your current password to confirm your changes)</small></i><br />
        <%= f.password_field :current_password, class:"form-control", placeholder:"current password", autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Update" , class:"btn btn-dark" %>
        <%= link_to "Back", :back, class:"btn btn-secondary" %>
      </div>
    <% end %>
      
  </div>
</div>
<br/><br/>

  <div class="card">
    <div class="card-header">
      <h4>Cancel my account</h4>
    </div>
    <div class="card-body">
      <p>Unhappy? </p>
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %>
    </div>
  
</div>




