<div class="card">
  <div class="card-header">
    <h2>Sign up</h2>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field form-group">
      <br />
      <%= f.email_field :email, class:"form-control", placeholder:"Email", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field form-group">
      
      <% if @minimum_password_length %>
      <small><em>(<%= @minimum_password_length %> characters minimum)</em></small>
      <% end %><br />
      <%= f.password_field :password, class:"form-control", placeholder:"password", autocomplete: "new-password" %>
    </div>

    <div class="field form-group">
      <%= f.password_field :password_confirmation, class:"form-control", placeholder:"confirm password", autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class:"btn btn-secondary" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>



